<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="display-6">Event Gallery</h1>
      <p class="lead">Check out some of our clan events!</p>
    </div>
  </div>
  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery1.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Wilderness PK Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery2.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">COX Event</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery3.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Skilling Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery6.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Corp Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery13.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Fashionscape</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery12.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Unfashionscape</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'loot2.jpg' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PK Loot</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'loot3.jpg' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PK Loot</p>
      </div>
    </div>
  </div>  


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery5.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Corp Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery6.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Corp Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery7.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PvP Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery8.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PvP Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery9.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PvP Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery10.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PvP Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery11.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Barbarian Assault Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery14.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Skilling Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery15.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Skilling Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery16.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Corp Event</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery17.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PvP Event</p>
      </div>
    </div>

    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'gallery4.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">Corp Event</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card col-md bg-dark border-transparent">
      <img class="card-img-top bg-dark" src=<%= asset_path 'extra_chat.png' %> alt="Siege Clan Event">
      <div class="card-body bg-dark">
        <p class="card-text">PK Loot</p>
      </div>
    </div>
  </div>

</div>
