<%= form_with(model: var) do |form| %>

  <div class="card-body">
    <div class="text-white d-flex flex-column ">
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.text_area :description %>
      </div>

      <div>
        <%= form.label :value, style: "display: block" %>
        <%= form.text_field :value %>
      </div>
      <br/>
      <div>
        <%= form.submit :class => "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
