<% content_for :title, "Website Variables" %>
<style>
  .header{
      position:sticky;
      top: 0 ;
  }

  a:link { 
    text-decoration:none; 
  }
</style>

<div class="container-fluid col-11" style="background-color: black">
  <table class="table table-striped table-dark table-hover table-sm table-responsive ">
    <thead class="header">
      <tr>
        <th colspan='4'> <h3> Website Variables </h3> </th>
      </tr>
    </thead>
    <thead class="header">
      <tr>
        <th colspan='4' >Currently Used Vars</th>
      </tr>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    <tbody>
      <tr>
        <td> <%= link_to "", logo_var_path, :class => "bi-pencil text-warning", :title => "Edit Logo" %> </td>
        <td> <%= @logo_var.name %> </td>
        <td> <%= @logo_var.description %> </td>
        <td> <%= @logo_var.value %> </td>
      </tr>
      <tr>
        <td> <%= link_to "", hidden_players_var_path, :class => "bi-pencil text-warning", :title => "Edit Hidden Players" %> </td>
        <td> <%= @hidden_players_var.name %> </td>
        <td> <%= @hidden_players_var.description %> </td>
        <td> <%= @hidden_players_var.value %> </td>
      </tr>
      <tr>
        <td> <%= link_to "", competition_state_var_path, :class => "bi-pencil text-warning", :title => "Edit Hidden Players" %> </td>
        <td> <%= @competition_state_var.name %> </td>
        <td> <%= @competition_state_var.description %> </td>
        <td> <%= @competition_state_var.value %> </td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to "Add new var", new_var_path, :class => "btn btn-secondary" %>
<br/>
<br/>

<% if @vars.count > 3 %>
  <div class="container-fluid col-11" style="background-color: black">
    <table class="table table-striped table-dark table-hover table-sm table-responsive ">
        <tr>
          <th colspan='4' >Unused Vars</th>
        </tr>
        <% @vars.each do |var| %>
          <% if var.name != @logo_var.name && var.name != @hidden_players_var.name && var.name != @competition_state_var.name %>
            <tr>
              <td> <%= link_to "", var_path(var), :class => "bi-pencil text-warning", :title => "Edit #{var.name}" %> </td>
              <td> <%= var.name %> </td>
              <td> <%= var.description %> </td>
              <td> <%= var.value %> </td>
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>
<% end %>
