<%= form_with(model: player) do |form| %>

  <div class="card-body">
    <div class="text-white d-flex flex-column ">
      <div class="mb-3">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name %>
      </div>

      <div class="mb-3">
        <%= form.label :xp, "XP", { class: "form-label"} %>
        <%= form.number_field :xp, placeholder: "Optional" %>
      </div>

      <div class="mb-3">
        <%= form.label :lvl, "Level", { class: "form-label"} %>
        <%= form.number_field :lvl, placeholder: "Optional" %>
      </div>

      <div class="mb-3">
        <%= form.label :wom_id, "WOM ID", { class: "form-label"} %>
        <%= form.number_field :wom_id, placeholder: "Optional" %>
      </div>

      <div class="mb-3">
        <%= form.label :rank, { class: "form-label"} %>
        <%= form.select :rank, ['Opal', 'Sapphire', 'Emerald', 'Ruby', 'Diamond', 'Dragonstone', 'Onyx', 'Zenyte'] %>
      </div>

      <div class="mb-3">
        <%= form.label :title, { class: "form-label"} %>
        <%= form.select :title, ['','Owner', 'Deputy Owner', 'Admin', 'Staff', 'PvM Organizer'] %>
      </div>

      <div>
        <%= form.submit :class => "btn btn-secondary" %>
      </div>
    </div>
  </div>
    <% if player.errors.any? %>
      <div class="card-footer" style="color: red">
          <% player.errors.each do |error| %>
            <%= error.full_message %>
          <% end %>
      </div>
  <% end %>
<% end %>
