<div class="container-fluid class="text-white"">
  <div id="<%= dom_id player %>">
    <p>
      <strong>Starting XP:</strong>
      <%=  number_with_delimiter(player.xp, :delimiter => ',') %>
    </p>

    <p>
      <strong>Starting Level:</strong>
      <%=  number_with_delimiter(player.lvl, :delimiter => ',') %>
    </p>

    <p>
      <strong>Clan XP:</strong>
      <%=  number_with_delimiter(player.clan_xp, :delimiter => ',') %>
    </p>

    <p>
      <strong>Clan Level:</strong>
      <%=  number_with_delimiter(player.clan_lvl, :delimiter => ',') %>
    </p>

    <p>
      <strong>Rank:</strong>
      <%= player.rank %>
    </p>

    <% if player.title? %>
      <p>
        <strong>Title:</strong>
        <%= player.title %>
      </p>
    <% end %>

  </div>
</div>