<div class="container-fluid class="text-white"">
  <div id="<%= dom_id player %>">
    
    <% if !@player.officer %>
      <p>
      Current clan rank is <i class="bi-gem" style="font-size: 1rem; color: <%= @player.rank_color %>"></i> with the
        next level of <i class="bi-gem" style="font-size: 1rem; color: <%= player.next_rank_color %>"></i>  
        after <strong> <%=  number_with_delimiter(player.next_lvl) %> </strong> xp.
      </p>
    <% end %>

    <% if @player.officer %>
      <p>
        As an officer of the clan, <%= player.name %> holds the role of <strong> <%= @player.title %> </strong> <%= player.clan_title %>
      </p>
    <% end %>

    <p>  
      <%= player.name %> joined the clan with <strong> <%=  number_with_delimiter(player.xp, :delimiter => ',') %> </strong> xp and 
      <strong> <%=  number_with_delimiter(player.lvl, :delimiter => ',') %> </strong> levels. 
    </p>

    <p>
      Since then, <%= player.name %> has gained <strong> <%=  number_with_delimiter(player.clan_xp, :delimiter => ',') %> </strong> xp and
      <strong> <%=  number_with_delimiter(player.clan_lvl, :delimiter => ',') %> </strong> levels for a total of 
      <strong> <%=  number_with_delimiter(player.current_xp, :delimiter => ',') %> </strong> current xp and 
      <strong> <%=  number_with_delimiter(player.current_lvl, :delimiter => ',') %> </strong> current levels.
    </p>
  </div>

  <hr/>

    <p>
      Siege Score: <%= player.score || 0 %>
    </p>
    <% if @player.siege_winner %>
      <p>
        <%= player.clan_title %> Previous Siege Competition Winner
      </p>
    <% end %>

    <% if player.inactive? %>
      <p>
        <span style="color: red">
          <em> Player is currently inactive </em>
        </span>
      </p>
    <% end %>

</div>
