<div class="container-fluid class="text-white"">
  <div id="<%= dom_id player %>">
    
    <% if !@player.officer %>
      <p>
      Current clan rank is <i class="bi-gem" style="font-size: 1rem; color: <%= @player.rank_color %>"></i> with the
        next level of <i class="bi-gem" style="font-size: 1rem; color: <%= player.next_rank_color %>"></i>  
        after <strong> <%=  number_with_delimiter(player.next_lvl) %> </strong> xp.
      </p>
    <% end %>

    <% if @player.officer %>
      <p>
        As an officer of the clan, <%= player.name %> holds the role of <strong> <%= @player.title %> </strong> <%= player.clan_title %>
      </p>
    <% end %>

    <p>  
      <%= player.name %> joined the clan with <strong> <%=  number_with_delimiter(player.xp, :delimiter => ',') %> </strong> xp and 
      <strong> <%=  number_with_delimiter(player.lvl, :delimiter => ',') %> </strong> levels. 
    </p>

    <p>
      Since then, <%= player.name %> has gained <strong> <%=  number_with_delimiter(player.clan_xp, :delimiter => ',') %> </strong> xp and
      <strong> <%=  number_with_delimiter(player.clan_lvl, :delimiter => ',') %> </strong> levels for a total of 
      <strong> <%=  number_with_delimiter(player.current_xp, :delimiter => ',') %> </strong> current xp and 
      <strong> <%=  number_with_delimiter(player.current_lvl, :delimiter => ',') %> </strong> current levels.
    </p>

    <% if player.achievements_exist? %>
      <p>
        On <strong> <%= player.achievements_ordered_by_date[0]["createdAt"].to_date.strftime('%b %d, %Y') %></strong>, <%= player.name %> achieved <strong> <%= player.achievements_ordered_by_date[0]["name"] %></strong>!
      </p>
      <% if player.has_3_achievements? %>
        <p>
          Other recent achievements include <%= player.achievements_ordered_by_date[1]["name"] %>, <%= player.achievements_ordered_by_date[2]["name"] %>, and <%= player.achievements_ordered_by_date[3]["name"] %>.
        </p>
      <% end %>
    <% end %>
  </div>

  <hr/>
    <p>
      Siege Score: <%= player.score || 0 %>
    </p>

    <% if player.siege_winner_place? %>
      <p>
        Siege Competition Winner:  <%= player.siege_winner_place_icon %> <%= player.siege_winner_place.ordinalize %> place 
      </p>
    <% end %>

    <p>
      Combat Level: <%= player.combat || "Not yet updated" %>
    </p>

    <p>
      Build Type: <%= player.type %>
    </p>

    <% if player.inactive? %>
      <p>
        <span style="color: red">
          <em> This player is currently inactive </em>
        </span>
      </p>
    <% end %>

    <% if player.has_old_names? %>
      <p>
        Previous Names: <%= player.name_history %>
      </p>
    <% end %>

    <p>
      Last Updated: <%= time_ago_in_words(player.updated_at) %> ago
    </p>      
</div>
