<div class="container-fluid">
  <div id="<%= dom_id player %>">
    <p>
      <strong>Name:</strong>
      <%= player.name %>
    </p>

    <p>
      <strong>Xp:</strong>
      <%= player.xp %>
    </p>

    <p>
      <strong>Lvl:</strong>
      <%= player.lvl %>
    </p>
      <p>
      <strong>Title:</strong>
      <%= player.title %>
    </p>

  </div>
</div>