<% content_for :title, "XP Tracker" %>
<style>
  .header{
      position:sticky;
      top: 0 ;
  }

  a:link { 
    text-decoration:none; 
  }
</style>

<div class="container-fluid" style="background-color: black">
      <div class="alert alert-warning text-center" style="margin-bottom: 0; font-weight: bold;">
      We've moved! Visit our new site at 
      <a href="https://www.siege-clan.com" class="alert-link">siege-clan.com</a>
      for improved features and performance.
    </div>
	<div class="row">
		<div class="col">
      <table class="table table-striped table-dark table-hover table-sm table-responsive">
				<thead class="header">
					<tr>
						<th style="text-align: center">
							Name
						</th>
            <th style="text-align: center">
              Clan Rank
            </th>
            <% if user_signed_in? %>
              <th style="text-align: center"></th>
            <% end %>
            <th style="text-align: center">
							EHB
						</th>
						<th style="text-align: center">
							Starting XP
						</th>
						<th style="text-align: center">
							Starting Level
						</th>
            <th style="text-align: center">
							Clan XP Gained
						</th>
            <th style="text-align: center">
							Clan Level Gained
						</th>
            <th style="text-align: center">
							Next Level
						</th>
            <th style="text-align: center">
              Joined              
            </th>
            <% if user_signed_in? %>
              <th style="text-align: center" colspan="2">
                Update Player
              </th>
            <% end %>
					</tr>
				</thead>
        <tbody style="white-space:nowrap">
          <% @officers.each do |player| %>
            <tr>
              <td style="text-align: center">
                <%= player.name %>
              </td>
              <td style="text-align: center">
                <%= player.admin_icon %>
              </td>
              <% if user_signed_in? %>
                  <td> </td>
              <% end%>
              <td style="text-align: center">
                <%= number_with_delimiter(player.ehb, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
              </td>
              <td style="text-align: center">
                <%= player.joined %>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: right">
                  <%= link_to "", edit_player_path(player), :class => "bi-pencil text-warning", title: "Edit Player" %>
                </td>
                <td style="text-align: center">
                  <%= link_to "", delete_player_path(player), method: :get, :class => "bi-trash text-danger", title: "Delete Player" %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% @clan.each do |player| %>
            <tr>
              <td style="text-align: center">
                <%= player.admin_icon %> <%= player.siege_winner_place_icon %> <%= player.name %>
              </td>
              <td style="text-align: center">
                <%= player.rank_icon %>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: center" >
                  <% if player.needs_update %>
                    <%= link_to '', {:controller => "players",
                                      :action => "update_rank",
                                      :id => player.id}, 
                                      method: 'post', 
                                      title: "Update Rank",
                                      class: "bi-exclamation-octagon-fill text-danger" %>
                  <% end %>
                </td>
                <% end%>
              <td style="text-align: center">
                <%= number_with_delimiter(player.ehb, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%=  number_with_delimiter(player.next_level, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= player.joined %>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: right">
                  <%= link_to "", edit_player_path(player), :class => "bi-pencil text-warning", title: "Edit Player" %>
                </td>
                <td style="text-align: left">
                  <%= link_to "", delete_player_path(player), method: :get, :class => "bi-trash text-danger", title: "Delete Player" %>
                </td>
              <% end %>
            </tr>
          <% end %>
				</tbody>
			</table>
		</div>

		<div class="col">
      <table class="table table-dark table-hover table-responsive table-bordered">
        <thead>
          <tr>
            <th style="text-align: center" colspan="3">
              🏆 &nbsp; Top 3 Leaderboard &nbsp; 🏆
            </th>
          </tr>
          <tr>
            <th style="text-align: center" class="cols-3">
              Rank
            </th>
            <th style="text-align: left" class="col-6">
              Name
            </th>
            <th style="text-align: center" class="cols-3">
              Points
            </th>
        </thead>
        <tbody>
          <% @competitors.each_with_index do |player, index| %>
            <tr>
              <td style="text-align: center">
                <%= "#{index + 1}" %>
              </td>
              <td style="text-align: left">
                <%= player.name %>
              </td>
              <td style="text-align: center">
                <%= player.score %>
              </td>
            </tr>
          <% end %>            
        </tbody>
      </table>
      <table class="table table-dark table-hover table-responsive table-bordered">
          <thead>
            <tr>
              <th style="text-align: center" colspan="4">
                📅 &nbsp; Events &nbsp; 📅
              </th>
            </tr>
            <tr>
              <th style="text-align: center" >
                Time
              </th>
              <th style="text-align: left">
                Name
              </th>
              <th style="text-align: center" >
                Duration
              </th>
              <th style="text-align: center" >
                Status
              </th>              
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td style="text-align: center">
                  <%= event.event_time %>
                </td>
                <td style="text-align: left">
                  <%= event.name.humanize.titleize %>
                </td>
                <td style="text-align: center">
                  <%= distance_of_time_in_words(event.starts, event.ends) %>
                </td>                
                <td style="text-align: center word-wrap: break-word">
                  <%= event.status %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <table class="table table-dark table-hover table-sm table-responsive">
        <thead>
          <tr>
            <th style="text-align: center" colspan="2">
              Clan Ranks
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Skiller and Fighter Ranks -->
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: moccasin"> Opal - New Member</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Mentor') %> Mentor - 0 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: blue"> Sapphire - 3,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Prefect') %> Prefect - 100 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: lime"> Emerald - 8,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Leader') %> Leader - 300 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: red"> Ruby - 15,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Supervisor') %> Supervisor - 500 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: white"> Diamond - 40,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Superior') %> Superior - 700 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: magenta"> Dragonstone - 90,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Executive') %> Executive - 900 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: grey"> Onyx - 150,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Senator') %> Senator - 1100 EHB
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: orange"> Zenyte - 500,000,000</i>
            </td>
            <td style="text-align: center">
              <%= clan_icon('Monarch') %> Monarch - 1300 EHB
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: center">
              <%= clan_icon('TzKal') %> TzKal - 1500 EHB
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
