<div class="container-fluid" style="background-color: black">
	<div class="row">
		<div class="col-md">
      <table class="table table-striped table-dark table-hover table-sm table-responsive">
				<thead>
					<tr>
						<th style="text-align: center">
							Name
						</th>
            <th style="text-align: center">
              Clan Rank
            </th>
            <% if user_signed_in? %>
              <th style="text-align: center"></th>
            <% end %>
						<th style="text-align: center">
							Starting XP
						</th>
						<th style="text-align: center">
							Starting Level
						</th>
            <th style="text-align: center">
							Clan XP Gained
						</th>
            <th style="text-align: center">
							Clan Level Gained
						</th>
            <th style="text-align: center">
              2 Months Gained
            </th>
            <% if user_signed_in? %>
              <th style="text-align: center">
                Update Player
              </th>
            <% end %>
					</tr>
				</thead>
          <% @officers.each do |player| %>
            <tr>
              <td style="text-align: center">
                <%= player.name %>
              </td>
              <td style="text-align: center">
                <%= player.clan_title %>
              </td>
              <% if user_signed_in? %>
                  <td> </td>
              <% end%>
              <td style="text-align: center">
                <%= number_with_delimiter(player.xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center; color: <%= player.kickable %>">
                <%=  number_with_delimiter(player.two_month_gains, :delimiter => ',') %>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: center">
                  <%= link_to "", edit_player_path(player), :class => "bi-pencil text-warning", title: "Edit Player" %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= link_to "", delete_player_path(player), method: :get, :class => "bi-trash text-danger", title: "Delete Player" %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% @clan.each do |player| %>
            <tr>
              <td style="text-align: center">
                <%= player.clan_title %> <%= player.name %>
              </td>
              <td style="text-align: center">
                <i class="bi-gem" style="font-size: 1rem; color: <%= player.rank_color %>"></i>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: center" >
                  <% if player.needs_update %>
                    <%= link_to '', {:controller => "players",
                                      :action => "update_rank",
                                      :id => player.id}, 
                                      method: 'post', 
                                      title: "Update Rank",
                                      class: "bi-exclamation-octagon-fill text-danger" %>
                  <% end %>
                </td>
                <% end%>
              <td style="text-align: center">
                <%= number_with_delimiter(player.xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_xp, :delimiter => ',') %>
              </td>
              <td style="text-align: center">
                <%= number_with_delimiter(player.clan_lvl, :delimiter => ',') %>
              </td>
              <td style="text-align: center; color: <%= player.kickable %>">
                <%=  number_with_delimiter(player.two_month_gains, :delimiter => ',') %>
              </td>
              <% if user_signed_in? %>
                <td style="text-align: center">
                  <%= link_to "", edit_player_path(player), :class => "bi-pencil text-warning", title: "Edit Player" %>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= link_to "", delete_player_path(player), method: :get, :class => "bi-trash text-danger", title: "Delete Player" %>
                </td>
              <% end %>
            </tr>
          <% end %>
				</tbody>
			</table>
		</div>

		<div class="col-4">
      <table class="table table-dark table-hover table-responsive table-bordered">
        <thead>
          <tr>
            <th style="text-align: center" colspan="3">
              🏆 &nbsp; Top 3 Leaderboard &nbsp; 🏆
            </th>
          </tr>
          <tr>
            <th style="text-align: center" class="cols-3">
              Rank
            </th>
            <th style="text-align: left" class="col-6">
              Name
            </th>
            <th style="text-align: center" class="cols-3">
              Points
            </th>
        </thead>
        <tbody>
          <% @competitors.each_with_index do |player, index| %>
            <tr>
              <td style="text-align: center">
                <%= "#{index + 1}" %>
              </td>
              <td style="text-align: left">
                <%= player.name %>
              </td>
              <td style="text-align: center">
                <%= player.score %>
              </td>
            </tr>
          <% end %>            
        </tbody>
      </table>
      <table class="table table-dark table-hover table-responsive table-bordered">
          <thead>
            <tr>
              <th style="text-align: center" colspan="4">
                📅 &nbsp; Events &nbsp; 📅
              </th>
            </tr>
            <tr>
              <th style="text-align: center" >
                Time
              </th>
              <th style="text-align: left">
                Name
              </th>
              <th style="text-align: center" >
                Duration
              </th>
              <th style="text-align: center" >
                Status
              </th>              
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td style="text-align: center">
                  <%= event.event_time %>
                </td>
                <td style="text-align: left">
                  <%= event.name.humanize.titleize %>
                </td>
                <td style="text-align: center">
                  <%= distance_of_time_in_words(event.starts, event.ends) %>
                </td>                
                <td style="text-align: center word-wrap: break-word">
                  <%= event.status %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
			<table class="table table-dark table-hover table-sm table-responsive">
        <thead>
          <tr>
            <th style="text-align: center">
              Clan Ranks
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: moccasin">   Opal - New Member</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: blue">   Sapphire - 3,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: lime">   Emerald - 8,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: red">   Ruby - 15,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: white">   Diamond - 40,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: magenta">   Dragonstone - 90,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: grey">   Onyx - 150,000,000</i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <i class="bi-gem" style="font-size: 1rem; color: orange">   Zenyte - 500,000,000</i>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
