<div class="card p-1 position-absolute top-50 start-50 translate-middle bg-dark text-white">
  <h2 class="card-header text-white">
    <%= @player.name %> 
    <h6> <em>Member since <strong> <%= @player.joined %></em> </strong> </h6>
  <hr/>
  </h2>

  <%= render @player %>

  <div class="card-footer btn-group">
    <%= link_to "Back to members", players_path, :class => "btn btn-outline-warning" %>
    <%= external_link_to "Open in WOM", "#{wom_url(@player)}", :class => "btn btn-outline-warning" %>
      <% if user_signed_in? %>
        <br>
        <%= link_to "Edit this player", edit_player_path(@player), :class => "btn btn-outline-warning" %>
        <br>  
        <%= button_to "Delete this player", delete_player_path(@player), method: :get, :class => "btn btn-outline-warning" %>
      <% end %>
  </div>
</div>
