<div class="card p-1 position-absolute top-50 start-50 translate-middle bg-dark text-white">
  <h2 class="card-header text-white">
    <% if @player.officer %>
      <%= @player.clan_title %>
      <%= @player.name %> 
      <%= @player.clan_title %>
    <% end %>

    <% if !@player.officer %>
      <i class="bi-gem" style="font-size: 2rem; color: <%= @player.rank_color %>"></i>
       <%= @player.name %>
      <i class="bi-gem" style="font-size: 2rem; color: <%= @player.rank_color %>"></i>
    <% end %>

    <% if @player.title? %>
      <h5>
        <%= @player.title %>
      </h5>
    <% end %>

    <h6> <em>Member since <%= @player.joined %></em> </h6>
  <hr/>
  </h2>

  <%= render @player %>

  <div class="card-footer btn-group">
    <%= link_to "Back to members", players_path, :class => "btn btn-info" %>
    <%= external_link_to "Open in WOM", "#{wom_url(@player)}", :class => "btn btn-primary" %>
      <% if user_signed_in? %>
        <br>
        <%= link_to "Edit this player", edit_player_path(@player), :class => "btn btn-warning" %>
        <br>  
        <%= button_to "Delete this player", delete_player_path(@player), method: :get, :class => "btn btn-danger" %>
      <% end %>
  </div>
</div>
