<!DOCTYPE html>
<html>
  <head>
    <title>Siege</title>
    <%= favicon_link_tag asset_path(logo) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KJXTSX66T0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KJXTSX66T0');
    </script>
  </head>

  <body class="h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <% if current_page? root_path %>
        <br>
      <% else %>
        <%= render "layouts/navbar" %>
      <% end %>
      <%= render "layouts/notifications" %>
      <% if Rails.env.development? %>
        <div class="alert alert-warning" role="alert">
          You are in development mode!
        </div>
      <% end %>
    </div>
  </header>


    <main class="px-3">
      <%= yield %>
    </main>

  </div>
  </body>
</html>
